@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: darkmagenta;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  overflow: hidden;
}

h1,
p {
  color: #fff;
  font-size: 2.5rem;
  margin: 10px 0 20px;
  text-align: center;
}

p {
  font-size: 1.5rem;
}

.container {
  width: 600px;
}

.text-input {
  display: block;
  border: none;
	background-color: #333;
  width: 100%;
  height: auto;
  padding: 10px;
  margin: 0 0 20px;
  font-size: 1.5rem;
}

.tags {
	display: flex;
	justify-content: center;
}

.tag {
  background-color: #333;
  border: 2px solid #333;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  margin: 0 10px 10px 0;
  display: inline-block;
  font-weight: bold;
	font-size: 2rem;
}

.tag.highlight {
  background-color: #fff;
  color: #333;
}

.message {
	display: block;
	background-color: #333;
	color: #fff;
	padding: 10px;
	border-radius: 5px;
	margin: 0 0 20px;
}

.message.hidden {
	display: none;
}

button {
	background-color: #333;
	color: #fff;
	border: 2px solid #333;
	padding: 10px 20px;
	font-size: 1rem;
	border-radius: 5px;
	cursor: pointer;
}

button:hover {
	background-color: #555;
	color: black;
	border: 2px solid #000;
}

.button-container {
	display: flex;
	justify-content: center;
	padding: 20px;
	margin-bottom: 1rem;
}

.hidden {
	opacity: 0;
	visibility: hidden;
}